<!-- This launch file executes group aggregation algorithm for 2 robots, random walk type - alternating walk -->

<launch>

    <!--ENVIRONMENT-->
    <param name="rbts_num" value="2" />
    <node pkg='turtlebot3_motion' type="environment.py" name="env" output="screen" />

     <!--ROBOT 0-->
    <group ns="r0">
        <arg name="num" value="0"/>
        <param name="num" value="$(arg num)" />
        <node pkg="turtlebot3_motion" type="group_aggregation.py" name="r$(arg num)_group_aggregation" output="screen" />
        <node pkg="turtlebot3_motion" type="random_walks_group.py" name="r$(arg num)_random_walk" output="screen" />
        <node pkg="turtlebot3_motion" type="static_group.py" name="r$(arg num)_static" output="screen" />
    </group>
    
    <!--ROBOT 1-->
    <group ns="r1">
        <arg name="num" value="1"/>
        <param name="num" value="$(arg num)" />
        <node pkg="turtlebot3_motion" type="group_aggregation.py" name="r$(arg num)_group_aggregation" output="screen" />
        <node pkg="turtlebot3_motion" type="random_walks_group.py" name="r$(arg num)_random_walk" output="screen" />
        <node pkg="turtlebot3_motion" type="static_group.py" name="r$(arg num)_static" output="screen" />
    </group>

</launch>