<!-- This launch file executes resource aggregation algorithm for 4 robots, random walk type - ballistic motion -->

<launch>
    <arg name="r_num" value="4" />

    <!--ENVIRONMENT-->
    <param name="rbts_num" value="$(arg r_num)"  />
    <node pkg='turtlebot3_motion' type="resource_aggregation_environment.py" name="env" output="screen" />

    <!--ROBOT 0-->
    <group ns="r0">
        <arg name="num" value="0"/>
        <param name="num" value="$(arg num)"/>
        <param name="rbts_num" value="$(arg r_num)" />
        <node pkg="turtlebot3_motion" type="resource_aggregation.py" name="r$(arg num)_resource_aggregation" output="screen" />
        <node pkg="turtlebot3_motion" type="ballistic_motion.py" name="r$(arg num)_random_walk" output="screen" />
    </group>

    <!--ROBOT 1-->
    <group ns="r1">
        <arg name="num" value="1"/>
        <param name="num" value="$(arg num)"/>
        <param name="rbts_num" value="$(arg r_num)" />
        <node pkg="turtlebot3_motion" type="resource_aggregation.py" name="r$(arg num)_resource_aggregation" output="screen" />
        <node pkg="turtlebot3_motion" type="ballistic_motion.py" name="r$(arg num)_random_walk" output="screen" />
    </group>

    <!--ROBOT 2-->
    <group ns="r2">
        <arg name="num" value="2"/>
        <param name="num" value="$(arg num)"/>
        <param name="rbts_num" value="$(arg r_num)" />
        <node pkg="turtlebot3_motion" type="resource_aggregation.py" name="r$(arg num)_resource_aggregation" output="screen" />
        <node pkg="turtlebot3_motion" type="ballistic_motion.py" name="r$(arg num)_random_walk" output="screen" />
    </group>

    <!--ROBOT 3-->
    <group ns="r3">
        <arg name="num" value="3"/>
        <param name="num" value="$(arg num)"/>
        <param name="rbts_num" value="$(arg r_num)" />
        <node pkg="turtlebot3_motion" type="resource_aggregation.py" name="r$(arg num)_resource_aggregation" output="screen" />
        <node pkg="turtlebot3_motion" type="ballistic_motion.py" name="r$(arg num)_random_walk" output="screen" />
    </group>

</launch>